.recipient {
  background-color: #1855ef;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
}
.inputForm {
  display: flex;
  font-size: 10rem;
  flex-direction: column;
  .inputText {
    align-items: center;
    width: auto;
    background-color: #1855ef;
    border: solid 0px;
    height: 5rem;
    font-size: 4rem;
    margin: 3rem;
    text-align: center;
    color: white;

    &:focus {
      outline: none;
      caret-color: beige;
      &:placeholder-shown {
        color: white;
      }
    }
    &::placeholder {
      text-align: center;
      transition: 0.5s;
    }
  }

  .submitBtn {
    border: solid black 10px;
    background-color: black;
    font-size: 3rem;
    color: white;
    height: 5rem;
    display: inline;
    :hover {
      cursor:auto;
    }
  }

}

.full_letter{
  display:flex;
  flex-direction: row;
  margin: auto;
  text-align: center;

  .letter_area{
    display:flex;
    font-size:3rem;
    margin:1vh;

    .id_box{
      display:flex;
      text-align: center;
      border-radius: 1rem;
      margin-bottom: 10vh;
      font-size: 4rem;
    }
    .letter_box{

    }
  }
}
