@import "styles/Interest.scss";

#full_landing {
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.3s;
  height: 100%;

  // position: absolute;
  .floating_letters {
    position: relative;
    top: 330px;
    left: 100px;
    z-index: 1;
  }

  .header {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 10vh;

    .link {
      display: flex;
      margin: auto;
      text-decoration: unset;
    }
  }
  .mode {
    display: flex;
    padding-top: 8vh;
    .mode_button {
      display: flex;
      margin: auto;
      margin-right: 50px;
      width: 2vw;
      min-width: 30px;
      height: 2vh;
      border: 0;
      border-radius: 2vw;
      background-color: rgb(85, 83, 83);
      // padding-right: 30px;
      &:hover {
        background-color: #ffd400;
      }
    }
  }
  .welcome_text {
    display: flex;
    margin: auto;
    font-size: 4rem;
    color: black;
  }

  .landing_photos {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 12vw;
    margin-right: 12vw;

    img {
      vertical-align: bottom;
      max-width: 23vw;
      min-width: 200px;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0%);
        transition: 0.3s;
      }
      transition: 0.8s;
    }

    .panel {
      flex-direction: column;
      display: flex;
    }

    .photo_descript {
      margin: auto;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .blog {
    margin: auto;
    margin-top: 10vh;
    font-weight: bold;
  }
}
